Write a program that prints all the numbers from 1 to 10 using a for loop.

In [41]:
for i in range(1,11):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

Write a program that prints all the numbers from 1 to 10 using a while loop.

In [12]:
i=1
while(i<11):
    print(i,end=",")
    i=i+1

1,2,3,4,5,6,7,8,9,10,

Write a program that prints a 5x5 grid of asterisks (*) using nested loops.

In [53]:
for i in range(5):
    print()
    for j in range(5):
        print("*",end="")

*****
*****
*****
*****
*****

Write a program that asks the user to input numbers until they input 0. The program should print the sum of all the input numbers.

In [7]:
sum=0
while True:
    val=int(input("enter the value"))
    if val==0:
        break
    sum=sum+val
print("the sum of all value=",sum)

the sum of all value= 16

Write a program that prints all the numbers from 1 to 10 except 5 using a for loop and continue statement.

In [82]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

Write a program that defines an empty function using the pass statement.

In [83]:
def emptyfun():
    pass

write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop.

In [5]:
b=int(input("enter the value"))
for i in range(1,b):
   if i%2==0:
        print(i)

2
4
6
8

Write a program that calculates the factorial of a number input by the user using a while loop.

In [6]:
i=5
fact=1
while i>0:
    fact=fact*i
    i=i-1
print(fact)

120

In [ ]:
user_input=int(input("enter the value"))
sum_of_digit=0
while user_input>0:
    unit_digit=user_input%10
    sum_of_digit=sum_of_digit+unit_digit
    user_input=user_input//10

print(sum_of_digit)

15

In [19]:
list=[list for list in range(1,21)]
print("first element",list[0])
print("last element",list[-1])
print("middle element",{list[len(list)//2]})

first element 1
last element 20
middle element {11}

In [1]:
tuple=(1,2,3,4,5)
list=list(tuple)
print(list)
list.append(6)
tup=tuple(list)
print(tup)

[1, 2, 3, 4, 5]

TypeError: 'tuple' object is not callable

In [2]:
tuple=(1,2,4,64,32,87,32,124)
for value in tuple:
    min_tuple=min(value)
    max_tuple=max(value)
    print(min_tuple)
    print(max_tuple)

TypeError: 'int' object is not iterable