

Create a set with the first 10 positive integers. Print the set.

In [2]:
set={1,2,3,4,5,6,7,8,9,10}
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
set.add(11)
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [4]:
set1={1,2,3,4,5}
set2={2,4,6,8,10}
union=set1.union(set2)
intersection=set1.intersection(set2)
difference=set1.difference(set2)
symmetric_difference=set.symmetric_difference(set2)
print(union)
print(intersection)
print(difference)
print(symmetric_difference)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 7, 9, 11}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [9]:
set_comprehension={square**2 for square in range(1,10)}
print(set_comprehension)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [12]:
new_set={x for x in set if x%2==0}
print(new_set)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [14]:
dup_set={1,23,1,23,12,24,21,21}
print(dup_set)

{1, 21, 23, 24, 12}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [15]:
set1={1,2,3,4,5}
set2={1,2,3}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [12]:
frozen=(1,2,4,5,3)
set=frozenset(frozen)
print(set)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [20]:
postitive_set=(2,1,4,5,7)
positive_list=list(postitive_set)
positive_list.append(6)
postitive_set=set(positive_list)
print(postitive_set)

TypeError: 'frozenset' object is not callable

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [25]:
dict={"name":"hema","age":28,"country":"india"}
print(dict)

{'name': 'hema', 'age': 28, 'country': 'india'}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [26]:
set={1,2,3,4,5,3,2}
for i in set:
    print(i)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [28]:
set={1,2,3,4,2,3}
print(set)
while set:
    set.pop()
    print(set)

{1, 2, 3, 4}
{2, 3, 4}
{3, 4}
{4}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [35]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
s_difference=set1.symmetric_difference(set2)
print(s_difference)

{1, 2, 3, 7, 8, 9}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [37]:
set1={1,2,3,4,5}
print(2 in set1)
print(10 in set1)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [38]:
set_tuple={(1,2),(2,3)}
print(set_tuple)

{(2, 3), (1, 2)}